<ul>
  <li>
    <%= text_field(address, :street) %>
  </li>
  <li>
    <%= text_field(address, :city) %>
  </li>
  <li>
    <%= text_field(address, :state) %>
  </li>
  <li>
    <%= text_field(address, :zip) %>
  </li>

  <li>
    <input type="submit" value="Save" />
  </li>
</ul>
